:root {
    --link-color-hover: #404bbf;
    --nav-item-color: #2e2f42;
    --address-list-color: #434455;
    --logo-color: #4d5ae5;
    --pf-btn-color: #f4f4fd;
    --background-color-one: #ffffff;
    --pf-btn-brd-color: #e7e9fc;
    --customer-icons-color: #8e8f99;
    --footer-icons-color: #31d0aa;
    --text-icon-color: #afb1b8;
    --modal-back-color: #fcfcfc;

}



body {
    font-family: "Roboto", sans-serif;
    color: var(--address-list-color);
    background-color: var(--background-color-one);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/**============Header===============**/
.header {
    background-color: var(--background-color-one);
}
.logo {
    font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
}

.header-logo {
    font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--nav-item-color);
}
  
/* Menu Nav */
.header-nav {
    display: flex;
    align-items: center;
}
.header-link:hover, .header-link:focus{
color: blue;
}
    

.header-list-item {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--address-list-color);
}

/**=========HERO==========**/

.hero {
    background-color: var (--title-color);
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.7;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
            
.hero-button {
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}
/**=========Section 1==========**/
.title-h-3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;  
        letter-spacing: 0.02em;
        color: var (--title-color);
}

/**==========Section 2==========**/

.work-item {
 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var (--title-color);
}

/**===========Section 3=========**/

.team-list {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:var (--title-color);
}
.team-personal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var (--title-color);
}